MEIZHUAN_BWC_CLIENT_ID=your-client-id
MEIZHUAN_BWC_CLIENT_SECRET=your-client-secret
MEIZHUAN_BWC_ENV=test
MEIZHUAN_BWC_TEST_MOBILE=13800138000
MEIZHUAN_BWC_TEST_LONGITUDE=118.795075
MEIZHUAN_BWC_TEST_LATITUDE=31.976364
